page-lessons {
    ion-content {
        background: linear-gradient(#3c1053,#ad5389);
       


    }
   
   .lesson{
  
   
     overflow-y: scroll;

   }
   .merch{
    
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid #000000;
     padding-top: 2em ;
   
   }
 
}
