page-profile {
     
   ion-content {
      background: linear-gradient(#1F8367,#97EA9D);
   }

   

   .quote{
         color: white;
         
   }
   .card
   {  
      margin-top: -20%;   
      height: 460px;
      width: 75%;
   

   }
   .card-title{
     margin-top: 20%;

   }
   .profile-image{
     padding: 2%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
}

}
